:root {
    --primary-color: #FF5B44;
    --black-color: #000;
    --text-color: #333;
    --white-color: #fff;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --gray-color: #666;
    --first-color: #D9D9D9;
    --second-color: #808080;
    --button-color: ;
    --text: 1rem;
    --system-ui: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

html {
    font-family: var(--system-ui);
    background-color: #FFBA47;
}

header img {
    width: 10%;
}

.form {
    margin: 0 8rem;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-other {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 80px;
    box-shadow: -6px 6px 5px 0 #0f172a4f;
}

.google img {
    width: 100%;
}

.facebook button {
    padding: 9px 82px;
    background-color: #1877F2;
}

.facebook .fa-facebook-f {
    color: var(--white-color);
    font-size: 1.5rem;
}

.or {
    align-items: center;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.or-left {
    border: 1px solid var(--black-color);
    height: 0;
    width: 40%;
}

.or span {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.or-right {
    border: 1px solid var(--black-color);
    height: 0;
    width: 40%;
}

input {
    margin: 10px 0;
    padding: 15px 12rem 15px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -6px 6px 5px 0 #0f172a4f;
}

.form-pass{
    position: relative;
}

input[type="password"] {
    position: relative;
}

.regsiter-sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    padding: 15px 75px;
}

.fa-eye-slash {
    position: absolute;
    top: 40%;
    left: 88%;
}

.regsiter-img {
    max-width: 50%;
}

.regsiter-img img {
    width: 100%;
}