/* điện thoại */
@media screen and (max-width: 739px){
    .header {
        display: flex;
        justify-content: space-between;
    }
    .select-container  {
        display: none;
    }
    .select-container{
        display: none;
    }
    .box-food-hot {
        display: none;
    }
    .input-seach {
        display: none;
    }
    .dangky {
        display: none;
    }
    .quoc-ki{
        display: none;
    }
}
/* ipad */
@media screen and (min-width: 740px) and (max-width: 1023px){

}
/* laptop */
@media screen and (min-width: 1024px){
    .bard-head {
        display: none;
    }
}