<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="./shoppingCart.css">
    <link rel="stylesheet" href="/base/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./base/fontawesome-free-6.4.2-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- Sang -->
        <header>
            <div class="header">
                <img class="logo" src="/img/logo/logo_main.png" alt="">
                <div class="select-container">
                    <select name="" id="" class="select-box">
                        <option value="">Khu Vực</option>
                        <option value="">TP. Hồ Chí Minh</option>
                        <option value="">Hà Nội</option>
                        <option value="">Đà Nẵng</option>
                        <option value="">Vũng Tàu</option>
                        <option value="">Đà Lạt</option>
                        <option value="">Nha Trang</option>
                        <option value="">Cần Thơ</option>
                    </select>
                    <!-- <div class="icon-container">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div> -->
                </div>
                <div class="box-food-hot">
                    <div class="foo-hot">Món ăn HOT</div>
                    <div class="icon-food-hot">
                        <i class="fa-solid fa-fire"></i>
                    </div>
                </div>
                <div class="input-seach">
                    <input type="text" placeholder="Địa điểm, món ăn,...">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="dangky">
                    <div class="text-dangky">
                        <a href=""><span>Đăng nhập</span></a></div>
                </div>
                <div class="icon-sign-in">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-bell" ></i>
                </div>
                <div class="hr">
                    
                </div>
                <div class="quoc-ki">
                    <img src="/img/logo/quoc-kyVN.png" alt="">
                    <img src="/img/logo/quoc-ki-vuong-quoc-anh.jpg" alt="">
                </div> 
            </div> 
        </header>
        <!-- Trung, Huy -->
        <nav>
            <section class="navbar">
                <article>
                    <div class="nav">
                        <div class="nav-left">
                            <img src="/img/sanpham/bun-dau.jpeg" alt="">
                        </div>
    
                        <div class="nav-right">
                            <div class="nav-top">
                                <h2>Bún đậu cô 3, ít bún nhiều đậu</h2>
                                <span>146/3 Nguyễn Văn Trỗi, P. 8, Phú Nhuận</span>
                            </div>
    
                            <div class="nav-middle">
                                <span>Món ăn: </span>
                                <span>Bún đậu mắn tôm</span>
                            </div>
    
                            <div class="quantity">
                                <span>Số lượng: </span>
                                <div class="plus">
                                    <span> - </span>
                                    <span>1</span>
                                    <span>+</span>
                                </div>
                            </div>
    
                            <div class="nav-bottom">
                                <span>Giá tiền: </span>
                                <span>30.000 VND</span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </nav>
        <main>
            <section class="main">
                <article>
                    <div class="form-address">
                        <h2>Thông tin nhận hàng</h2>
                        <div class="sex">
                            <div class="male">
                                <input type="radio" name="sex" id=""> 
                                <label for="">Giao tận nhà</label>
                            </div>

                            <div class="female">
                                <input type="radio" name="sex" id="">
                                <label for="">Lấy tại cửa hàng</label>
                            </div>
                        </div>
                        <div class="form-inp">
                            <div class="name-voucher">
                                <input type="text" name="" id="" placeholder="Họ và tên">
                                <input type="text" name="" id="" placeholder="Nhập voucher">
                            </div>

                            <div class="form-middle">
                                <div class="left-inp">
                                    <input type="text" name="" id="" placeholder="Số điện thoại">
                                    <input type="text" name="" id="" placeholder="Nhập địa chỉ nhà, tên đường">
                                    <input type="text" name="" id="" placeholder="Nhập ghi chú nếu có">
                                </div>

                                <div class="right-total">
                                    <div class="food-price">
                                        <span>Tiền món ăn</span>
                                        <span>30.000 VND</span>
                                    </div>

                                    <div class="food-transport">
                                        <span>Vận chuyển: </span>
                                        <span>20.000 VND</span>
                                    </div>

                                    <div class="food-voucher">
                                        <span>Voucher</span>
                                        <span>-20.000 VND</span>
                                    </div>

                                    <div class="food-total">
                                        <span>Tổng</span>
                                        <span>30.000 VND</span>
                                    </div>

                                </div>
                            </div>
                            <button class="order">Đặt hàng</button>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <div class="footer-header">
                <img src="./img/logo/logo_main.png" alt="">
            </div>
            <section class="footer">
              <div class="footer-left">
                <h2>Khám phá</h2>
                <ul class="footer-ul">
                    <li class="footer-item">
                        <a href="">Tạo bộ sưu tập</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Bảo mật thông tin</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Quy định</a>
                    </li>
                </ul>
              </div>

              <div class="footer-middle">
                <h2>Công ty</h2>
                <ul class="footer-ul">
                    <li class="footer-item">
                        <a href="">Giới thiệu</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Việc làm</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Quy chế</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Thỏa thuận dịch vụ</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
              </div>

              <div class="footer-right">
                <h2>Cộng đồng</h2>
                <ul class="footer-ul">
                    <li class="footer-item">
                        <a href="">Facebook</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Instagram</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Youtube</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Tiktok</a>
                    </li>
                </ul>
              </div>

              
              <div class="footer-last">
                <h2>Giấy phép</h2>
                <ul class="footer-ul">
                    <li class="footer-item">
                        <a href="">TRUNGDEPTRAICAP</a>
                    </li>
                    <!-- <li class="footer-item">
                        <img src="./img/logo/pinterest_board_photo.png" alt="">
                    </li> -->
                </ul>
              </div>
                   <!-- <div>
                    <hr />
                    <p>Ứng dụng mobile</p>
                    <p>Bộ sưu tập</p>
                    <p>Bảo mật thông tin</p>
                    <p>Quy định</p>
                   </div> &nbsp;&nbsp;&nbsp;&nbsp;
                   <div>
                    <h2>Công ty</h2>
                    <hr />
                    <p>Giới thiệu</p>
                    <p>Trợ giúp</p>
                    <p>việc làm</p>
                    <p>Quy chế</p>
                    <p>Thỏa thuận sử dụng dịch vụ</p>
                   <p>Liên hệ</p>
                   </div> &nbsp;&nbsp;&nbsp;&nbsp;
                   <div>
                     <h2>Tham gia trên</h2>
                    <hr />
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Youtube</p>
                    <p>Google</p>
                    <p>ShopeeFood.vn-Giao đồ ăn tận nơi</p>
                   <p>Liên hệ</p>
                   </div> &nbsp;&nbsp;&nbsp;&nbsp;
                   <div> 
                    <h2>Giấy phép</h2>
                    <hr />
                    <p>MXH 363/GP-BTTTT</p>
                   <p><img src="https://www.foody.vn/style/images/gov_seals.jpg" width="150px" height="90px"></p>
                   
                   </div> -->
               
            </section>
        </footer>
    </div>
</body>
</html>